.services_content h1{
    font-size: 4rem;
    margin-bottom: 30px;
    position: relative;
    bottom: 4%;
    font-style: italic;
    font-family: 'Qwitcher_Gryphen';
    font-weight: 700;
    color: whitesmoke;
    text-shadow: 2px 2px 6px #111111;
    margin: 42px;
    width: 40%;
    text-transform: capitalize;
    left: 10%;
}
.service_elements{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    row-gap: 20px;
    
    justify-items: center;
}
.service_elements div{
    font-size: 1rem;
    width: 90%;
    height: 100%;
    border-radius: 8%;
    padding: 10px;
    margin-top: 50px;
    box-sizing: border-box;
    background: linear-gradient(-45deg,#fca71fd2,transparent);
    text-shadow:2px 2px 4px #0a0a0a;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 3px 3px 6px #111111;
}
.service_elements p{
    font-size: 0.9rem;
    font-family: 'Qwitcher_Gryphen';
}
.service_elements button{
    font-size: 0.8rem;
    font-weight: 700;
    font-family: 'Qwitcher_Gryphen';
    background: linear-gradient(-45deg,rgba(0, 0, 0, 0.699),transparent);
    width: 90px;
    height: 20px;
    border: none;
    border-radius: 40px;
    box-shadow: 2px 2px 4px #111111;
    text-shadow: 1px 1px 2px #111111;
    cursor: pointer;
    position: relative;
    left: 70%;
    top: 8%;
}
.service_elements button:hover{
    background-color: whitesmoke;
    background:linear-gradient(360deg,white,transparent);
    color: #fca61f;
    box-shadow: 1px 1px 2px #fca61f;
    border: 0.5px solid #fca61f;
}
@media (max-width:768px){
    .services_btn{
        display: none;
    }
    .services_content h1{
        font-size: 2rem;
        margin-bottom: 0;
    }
    .service_elements{
        grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    }
    .service_elements div{
        margin-top: 40px;
    }
}