*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    color: rgb(218, 213, 213);
} 

body{
    width: 100%;
    height: auto;
    overflow:hidden ;
    position: relative;
}
.baground{
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url(BAGROUND.jpg);
    background-size: cover;
    background-position: center;
    z-index: 1;
    background-attachment: fixed;
    flex-direction: column;
    
}

.overlay {
    z-index: 2;
    position: absolute;
    top: 9%;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(19, 15, 15, 0.9); 
}
nav{
    z-index: 1000;
    position: sticky;
    top: 0;
    width: 100%;
    height: 10vh;
    backdrop-filter: brightness(100%);
    display: flex;
    align-items: center;
}

.nav-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.986);
}

.nav-container .logo span{
    width: 140px;
    height: 50px;
    left: 0;
}


.nav-container .links a{
    font-size: 1.3rem;
    color: rgb(207, 204, 204);
    text-decoration: none;
    margin: 0 20px;
    transition: 0.3s linear;
}

.nav-container .links a:hover{
    color: #fca61f;
    text-shadow: 1px 1px #fca61f ;
}

    @keyframes blink {
        0%, 100% {
          opacity: 1; /* fully visible */
        }
        50% {
          opacity: 0; /* invisible */
        }
    }

    @keyframes typing {
        0%{
            width: 0;
        }
        100% {
            width: 18ch; /* Adjust this value to match the length of the name */
        }
        
    }

    @keyframes blink2 {
        from, to {
            border-color: transparent;
        }
        50% {
            border-color:  #fca61f;
        }
    }
    
    .logo span{
        color: #fca61f;
        font-size: 1rem;
        font-weight: bold;
        animation: blink 1s infinite; /* 1 second duration, repeats infinitely */
         
      }

nav button{
    width: 150px;
    height: 40px;
    border-radius:20px;
    background-color: #fca61f;
    color: white;
    font-size: 1.2rem;
    transition: 0.3s linear;
    font-weight: 700;
    box-shadow: 1px 1px 10px #fca61f;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    left: 15%;

}
nav button a{
    text-decoration: none;
    color: white;
}

nav button:hover{
    background-color:white;
    color: #fca61f;
    border:2px solid #fca61f;
}
nav button a:hover{
    color: #fca61f;
}

nav i{
    position: absolute;
    right: 20px;
    top: 15px;
    cursor: pointer;
    display: none;
}
nav .hamburg{
    display: inline-flex;
    padding: 5px;
    cursor: pointer;
    background: none;
    border: none;
    position: absolute;
    top: 22%;
    left: 95%;
    border-radius: 30%;
    width: 45px;
    height: 40px;
    align-items: center;
    justify-content: center;
}
/*.fa-bars{
    color:#fca61f;
    width:5px;
    height: 8px;
    right: 12px;
    top: 10px;
    display: none;
    
}*/

nav .dropmenu {
    position: absolute;
    top: 0;
    right: 7px;
    backdrop-filter: blur(2px);
    width: 18%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateY(-300px);
    z-index: 1000;
    visibility: hidden;
    
}

nav .dropmenu.visible{
    transform: translateY(0);  
    visibility: visible;
}

.dropmenu .hov_link{
    font-size: 1.4rem;
    text-align: center;
    width: 100%;
    color: black;
    padding: 10px 0;
    text-decoration: none;
    transition: 0.3s linear;
}

.dropmenu .hov_link:hover{
    background-color: black;
    color: white;
}

.dropmenu button{
    width: 100%;
    height: 45px;
    left: 0;
}

/* Landing Page  */

section{
    z-index: 60;
    width: 100%;
    height: 100vh;
}

section .content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .main-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 0 10%;
    
}
.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* Make sure it does not wrap */
    flex-wrap: nowrap;
    background-color: rgb(15,15,15,0.3);
}
.main-content h1{
    font-size: clamp(2rem, 1rem + 3vw, 4rem);
}

.icons button{
    width: 2.0rem;
    height: 2.0rem;
    background:transparent;
    border-radius: 50%;
    border: 2px;
    border-color: #fca61f;
    outline: #fca61f;
    font-size: 1.1rem;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 1px 1px 10px #fca61f;
    margin: 15px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 60;
    margin-left: 0;
}

.icons button:hover{
    box-shadow: 3px 3px 40px #fca61f;
    border: 2px solid  #fca61f;
    background-color: #fca61f;
    

}
.main-content span{
    font-size: clamp(2rem, 1rem + 3vw, 4rem);
    font-weight: 700;
    color: #fca61f;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid #fca61f;
    width: 17ch;
    display: inline-block;
    animation: typing 4s steps(10) infinite, blink2 0.75s step-end infinite;
}

.main-content p{
    font-size: clamp(1rem, 1rem + 5vw, 1.2rem);
    font-family: 'Qwitcher-Gryphen';
    text-shadow: 1px 1px 2px #111111;
}

.main-content .buttons{
    width: 56%;
    margin: 0;
    min-height: 5.5vh;
    display: flex;
    justify-content: start;
}

.main-content .buttons button{
    width: 160px;
    margin: 0;
    border-radius: 20px;
    background: #fca61f;
    color: white;
    border: none;
    outline: none;
    font-size: 1.1rem;
    font-weight: 700;
    transform: 0.2s linear;
    cursor: pointer;
}

.buttons button:hover{
    box-shadow: 2px 2px 30px #fca61f;
}

.content .image {
    display: flex;
    justify-content: start;
    opacity: 0.6;
    position: relative;
    right: 43%;
    border-radius: 50%;
    width: 10px;
    height: 100%;
    filter: drop-shadow(0 0 300px #fca61f);
}

.image img{
    mix-blend-mode: multiply;
    box-shadow: #fca61f;
    opacity: 0.3 ;
   
}

.icons{
    width: 60%;
    /*margin: 5px 18px;*/
    display: flex;
    justify-content: start;    
    align-content: flex-end;
} 



.main-content{
    height: 60%;
    justify-content: space-between;
}
.copyrights{
    z-index: 3000;
    position: fixed;
    justify-content: end;
    width: 100%;
    height: 20px;
    bottom: 2px;
    padding: 5px;
    display: flex;
    background:linear-gradient(45deg,rgb(0,0,0),transparent);
    font-size: 0.7rem;
    border: none;
    box-shadow: 1px 1px 1px 1px black;
}
.copyrights i{
    margin-left: 2px;
    font-family: 'Qwitcher-Gryphen';
}
@media (max-width:768px){

    .baground{
        height: 100vh;
        background-image: none;
        background-color: rgba(19, 15, 15, 0.9);
    }
    .overlay{
        height: 100vh;
    }
    .links{
        display: none;
    }

    .nav-container #btn{
        display: none;
    }
    nav .hamburg{
        display: flex;
        left: 80%;
    }

    .nav-container .logo{
        position: absolute;
        left: 5px;
    }

    .content{
        margin-top: -100px;
        display: flex;
        width: 100%;
        flex-direction: column-reverse;
    }
    .image{
        display: none;
    }
    .image img{
        display: none;
    }

    .content .main-content{
        max-width: 350px;
        align-items: start;
        width: 100%;
        position: 
        relative;
        bottom: 25%;
    }

    .main-content p{
        margin: 5px;
        font-size:1.2rem;
        text-align: start;
    }
    .icons button{
       width: 3.2rem ;
       height: 2.2rem;
    }
    .main-content .buttons button{
        width: 90px;
    }
    .dropdown div .dropmenu{
        width: 40%;
        padding-top: 10%;
    }
    .dropmenu i{
        font-size: 1.4rem;
        color: black;
    }
    
}